.jumbotron{
    box-shadow: 0 0 15px gray ;
    background-color: #06D6A0;
}
.ben-btn {
background-color: transparent;
width: 200px;
height: 200px;
border: 1px solid #f1f1f1;
border-radius: 25px;
background-color: #FFD166;
box-shadow: 0 0 10px;
}


.container{
    display: flex; 
    justify-content: center; 
    align-content: center; 
    align-items: center; 
    color: white;
}

.banner-text-container{
    text-align: center;
    font-family: 'Nunito';
}

#banner-title{
    font-size: 80px;
}

#subhead-1{
    font-size: 30px;
}

#subhead-2{
    font-size: 25px;
}

h2{
    text-align: center;
    margin: 2em auto;
}

#benefits-container{
    display:flex; 
    flex-direction: row; 
    align-items: center; 
    align-content: center; 
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 15em;
}

.card-img{
    object-fit: cover;
    width: 100%;
}

#suggestions-container{
    display:flex; 
    flex-direction: column; 
    align-items: center; 
    align-content: center; 
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 16em; 
    padding-top: 15em;
}

#ingredient-title{
    text-align: center;
}

@media only screen and (max-width: 414px) {
    #banner-title{
        font-size: 45px;
    }
    
    #subhead-1{
        font-size: 15px;
    }
    
    #subhead-2{
        font-size: 15px;
    }

    #benefits-title{
        font-size: 25px;
    }

    .ben-btn {
        width: 25%;
        height: 25%;
        }

            
    #benefits-container{
        display:flex; 
        flex-direction: row; 
        align-items: center; 
        align-content: center; 
        justify-content: center; 
        flex-wrap: wrap; 
        gap: 2em;
    }

    .card-title{
        font-size: 1px;
    }
    #suggestions-container{
        display:flex; 
        flex-direction: column; 
        align-items: center; 
        align-content: center; 
        justify-content: flex-start; 
        flex-wrap: wrap; 
    }

    #ingredient-title{
        font-size: 25px;
    }

  }