html {
  background-color: #d7dbe3;
}

body {
  height: 100vh;
  background-image: url("../images/bgpattern.png");
  background-repeat: no-repeat;
  background-size: 80%;
  font-family: Nunito;
}

a {
  color: #0b0c0c;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #0571f4;
}

button {
  border: none;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#login_div {
  border-radius: 10px 10px 10px 10px;
  background:rgba(255, 255, 255, 0.6);
  padding: 30px;
  width: 90%;
  max-width: 650px;
  position: relative;
  padding: 0px;
  text-align: center;
  box-shadow: 0 0 15px gray;
}

#forgot_password {
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

#icon {
  width: 60%;
  padding-bottom: 5px;
}

input[type=button],
input[type=reset] {
  background-color: rgb(17, 97, 126);
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0 10px 30px 0 rgba(78, 113, 228, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
}

input[type=button]:hover,
#login_button:hover,
input[type=reset]:hover {
  background-color: #2f50e6c3;
}

input[type=text_area],
input[type=password] {
  background-color: #e0d8d8;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  margin-top: 7px;
  margin-bottom: 7px;
  width: 85%;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
  
}

#sign_up{
  padding: 10px 15px 10px;
  background-color: #a36ec7;
  color: white;
  font-size: 15px;
  border-radius: 15px;
  box-shadow: 0 0 15px gray;
}
#login_button{
  font-size: 15px;
  border-radius: 25px;
}
input[type=text_area]:focus,
#login_button,
input[type=password] {
  background-color: #ccc2c2;
  outline-color: #15a4dc;
}

#login_button {
  background-color: rgb(110, 146, 246);
}

a.nav-link {
  font-size: 18px;
}

@media only screen and (max-width: 640px) {
  body{
    background-size: 130%;
  }
}