.container{
    display: flex;
}

#banner-image{
    max-width: 30%;
    max-height: 30%;
    object-fit: contain;
}
.card-title{
    text-align: center;
    padding-top: 4em;
}

#fav-box{
    display: flex; 
    flex-direction: row; 
    margin: auto; 
    justify-content: center; 
    align-content: center; 
    gap: 10em; 
    flex-wrap: wrap; 
    padding-top: 4em;
}

.card{
    max-width: 15rem;  
    box-shadow: 0 0 1em gray;
}

#card-header1{
    background-color: hsl(48, 100%, 66%); 
    font-weight: bold;
}

#card-body1{
    background-color: #FFD116;
}

#card-header2{
    background-color: #4df1c6; 
    font-weight: bold;
}

#card-body2{
    background-color: #06D6A0;
}

#card-header3{
    background-color: #f75e82; 
    font-weight: bold;
}

#card-body3{
    background-color: #EF476F;
}

#card-header4{
    background-color: #5f9dd3; 
    font-weight: bold;
}

#card-body4{
    background-color: #3e8bce;
}

.card-body-img{
    object-fit: cover; 
    max-width: 100%; 
    border-radius: 30px;
}



